.div {
  height: 500px;
  width: 500px;
  border-style: solid;
  border-color: red;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius: 0px;
  background-color: blue;
}
